/* LOGIN / REGISTER */
.loginRegister {
  max-width: 1200px;
  margin: 0px auto;
  .pageTitle {
    margin: 1rem 0px;
    font-size: 2rem;
    font-weight: 200;
    color: #111111;
  }
  .form {
    max-width: 800px;
    .form-item {
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
      & > label {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100px;
      }
      & > input,
      & > textarea,
      & > span,
      & > button {
        flex-grow: 3;
        flex-shrink: 1;
        flex-basis: 300px;
      }
    }
  }
  .error {
    color: #c04040;
  }
}
